/* footer */
footer{
    height: 250px;
    width: 100%;
    background-color: grey;
    margin-top: 10%;
    display: flex;

}
ol{
    list-style: none;
    margin-left: 30px;
    
}
footer ol li{
    padding: 7px;
    
}
footer li a{
    color: azure;
    text-decoration: none;
}

.fac{
    color: blue;
}
.insta{
    color: violet;
}
.x{
    color: black;
}
.youtube{
    color: red;
}
li a:hover{
    color: black;
}
h4{
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
    font-size: 20px;
}
.heading ol{
    margin-left: 130px;
    display:flex;
    margin-right: 100px;

 }
 .bik ol{
    display: flex;
 }
 .soci{
    display: flex;
 }

 /* form */
 form{
    margin-left: 50px;
    margin-top: 14px;
 }
  footer button{
    margin-top: 10px;
  }
   


 

